* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #00000057;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    color: rgb(255, 255, 255);

}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list li {
    display: inline;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s;
    color: rgb(255, 255, 255);
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 40px;
}

.nav-list li a:hover {
    background-color: rgba(0, 0, 0, 0.167);
    text-decoration: underline;
}

/* Mobile Styles for Header */
@media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 15px 20px;
    }
  
    .nav-list {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .nav-list li a {
      font-size: 18px;
      padding: 8px 16px;
    }
  }
  