
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url('../assets/profilePicture.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 740px;
    padding-left: 15%;
}

.body div{
    padding-top: 30px;
    color: rgb(255, 255, 255);
}

.body h1 {
    font-size: 3.5rem;
    font-family:Calibri;
}

.body p{
    font-size: 25px;
    font-family:sans-serif;
}

.moreBtn{
    padding: 8px 15px;
    margin-top: 15px;
    border-radius: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 4, 4);
    
}

.moreBtn, link {
    text-underline-offset: none;
}

.moreBtn:hover{
    background-color: rgb(49, 64, 74);
    transition: 0.1s;
    color: white;
}

/* Mobile Styles for Hero Section */
@media (max-width: 768px) {
    .body {
      height: auto;
    }

    .body a{
        display: flex;
        flex-direction: row;
        width: 100%;
        text-decoration: none;
    }
  
    .body h1 {
      font-size: 2rem;
    }
  
    .body p {
      font-size: 1.2rem;
    }
  
    .moreBtn {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  
